<footer>
  <div class="f-info">
    <div class="Social">
    <a href="https://www.facebook.com/ali.rehmani15"><i class="fa-brands fa-square-facebook"></i></a>
    <a href="https://www.instagram.com/sakoon._alquran/"><i class="fa-brands fa-square-instagram"></i></a>
    </div>
    <div>&copy;sakoon._alquran</div>
  </div>
</footer>