<% layout('/Layout/boilerplate') %>
    <header>
        <div class="pic">
            <h1>Welcome To Ali's Quran Site</h1>
            <div class="search">
                <input type="text" id="search" placeholder="Surah No:Verse No" required>
                <button>Search</button>
            </div>
        </div>

    <div class="Arabic Ar"><h3></h3><p>Arabic</p></div>
    <audio controls>
        <source type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <div>
        <label for="trans">Select Translation:</label>
        <select id="trans">
        <option value="non">Select</option>
        <option value="ur">Urdu</option>
        <option value="en">English</option>
        </select>
    </div>

    <div class="Translation Ar"><h3></h3><p>Translation</p></div>
    </header>