<% layout('/Layout/boilerplate') %>
<div class="landing-container">
  <div class="overlay"></div>
  <div class="content-wrapper">
    <h1 class="main-title">Aim</h1>
    <p class="main-text">
      Assalamualaikum, My name is Ali &nbsp; & &nbsp; I have created this Site as a personal initiative to spread the words of Allah to every heart, to help people read, listen, and understand the Qur’an easily
      , whether they are seeking guidance, learning, or deepening their connection with Allah ﷻ.

      With simple navigation, powerful search, and clear translations, it’s built for everyone — from beginners to experienced readers.

      May this project be a source of sadaqah jariyah (continuous charity) and may it benefit you in both this world and the Hereafter.
    </p>
    <a href="/Quran" class="search-btn">Search a Verse</a>
  </div>
</div>